[Desktop Entry]
Version=1.0
Name=Save Config Pro
Comment=Outil professionnel de sauvegarde de configurations réseau
Exec=save-config-pro
Icon=save-config-pro
Terminal=true
Type=Application
Categories=Utility;System;
StartupNotify=true
