# Configuration générée le 2025-06-26_15-13-11
# Pour le sous-réseau: 192.168.10.0/24
[defaults]
ssh_args = -o KexAlgorithms=+diffie-hellman-group14-sha1,diffie-hellman-group1-sha1 -o HostKeyAlgorithms=+ssh-rsa -o Ciphers=+aes128-cbc,aes192-cbc,aes256-cbc,3des-cbc
host_key_checking = False

[network_cli]
timeout = 60
