# Configuration générée le 2025-07-02_23-45-46
[defaults]
inventory = inventory.ini
host_key_checking = False
timeout = 60
gathering = explicit
deprecation_warnings = False

[ssh_connection]
ssh_args = -o KexAlgorithms=+diffie-hellman-group14-sha1 -o HostKeyAlgorithms=+ssh-rsa
